* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.container {
  width: 80%;
  min-height: 300px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #0a3d62;
}
.header h1 {
  color: white;
}
.menu a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
.menu a:hover {
  color: #943303;
}
.main {
  height: 500px;
  background: url("/img/main2.jpeg") center/cover;
  display: flex;
  align-items: center;
  padding: 40px;
}
.main-content {
  max-width: 400px;
}
.main h1 {
  font-size: 40px;
  color: black;
}
.main p {
  color: white;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
  margin-left: 20px;
  background: #dc4c04;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.btn:hover {
  background: #0288d1;
  color: black;
  transform: translateY(-4px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.Journey {
  height: 330px;
  padding: 15px;
  padding-top: 10px;
  background: #bdcbd5;
  text-align: center;
}
.Journey h2 {
  font-size: 28px;
}
.Journey-Photos {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}
.card {
  background-color: white;
  width: 250px;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card:hover {
  transform: translateY(-10px);
}
.card p {
  padding: 10px;
}

.offer {
  background: url("/img/city3.jpg") center/cover;
  padding: 90px;
  text-align: center;
  color: black;
}
.offer h2 {
  color: white;
  font-size: 30px;
}
.offer p {
  padding-top: 5px;
  color: white;
}
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  margin-left: 20px;
  background: #dc4c04;
  color: #000;
  text-decoration: none;
  border-radius: 9px;
}
.btn:hover {
  background: #0288d1;
  color: black;
  transform: translateY(-4px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}
.Footer {
  background: #1e272e;
  color: white;
  text-align: center;
  padding: 20px;
}
.Footer p {
  margin: 5px;
  font-size: 12px;
}
/* second part  its tour part css*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0b3c5d;
  padding: 15px 40px;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #00ffee;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}
.destinations {
  padding: 60px 5%;
  background-color: #f6f9ad;
}

.destinations h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Card design */
.card {
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  background: white;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card p {
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
}
.Footer {
  background: #1e272e;
  color: white;
  text-align: center;
  padding: 20px;
}
.Footer p {
  margin: 5px;
  font-size: 12px;
}

/* third part of css Packages Section */

.packages {
  padding: 50px 20px;
  text-align: center;
}

.packages h1 {
  margin-bottom: 40px;
}

.package-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.package-card {
  width: 300px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0b3c5d;
  padding: 15px 40px;
}

.logo {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 20px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: 0.3s;
}
nav a:hover {
  color: #943303;
}

.packages {
  padding: 50px 20px;
  text-align: center;
  background: #f5f7fa;
}

.packages h1 {
  margin-bottom: 40px;
  font-size: 32px;
}

.package-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.package-card {
  width: 300px;
  background: rgb(247, 224, 224);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s;
}

.package-card:hover {
  transform: translateY(-35px);
}

.package-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.package-card h2 {
  margin: 15px 0;
  font-size: 20px;
}

.price {
  font-size: 18px;
  color: #0b3c5d;
  margin-bottom: 15px;
}

.btn-book {
  display: inline-block;
  text-decoration: none;
  padding: 10px 25px;
  margin-bottom: 20px;
  border: none;
  background: #dc4c04;
  color: #000;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 16px;
}

.btn-book:hover {
  background: #0288d1;
  color: black;
  transform: translateY(-4px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.footer {
  background: #1b2a33;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}

/* next page login page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container1 {
  width: 80%;
  height: 30%;
  padding: 30px;
  border-radius: 10px;
  border: 3px solid olivedrab;
  border-radius: 10px;
  margin: auto;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 20px rgba(0, 0, 0.3);
  margin-top: 50px;
  margin-bottom: 100px;
  background-image: url(/img/nature1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
}
.input {
  margin-bottom: 15px;
}
label {
  font-size: large;
  display: block;
  font-weight: bolder;
  margin-bottom: 5px;
}
input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 2px solid olivedrab;
  border-radius: 7px;
}
.back-link {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #dc4c04;
  color: white;
  box-shadow: 0 10px 20px rgb(0, 0, 4);
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 16px;
}
button:hover {
  background-color: #0288d1;
  transform: translateY(-4px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}
/* Alter button */
/* Popup overlay */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Show popup */
.popup:target {
  display: flex;
}

/* Popup box */
.popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.popup-content h2 {
  color: green;
}

/* Close button */
.close-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
  background: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }
  .package-card {
    width: 90%;
  }
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .main {
    height: auto;
    padding: 60px 20px;
  }

  .main h1 {
    font-size: 36px;
  }
}
